body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #fffafa;
    color: #333;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #fff;
}

.navbar .logo {
    font-weight: bold;
}

.navbar nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
}

/* LOGIN */
.login-container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container h1 {
    margin-bottom: 30px;
}

.login-form {
    width: 350px;
    display: flex;
    flex-direction: column;
}

.login-form input {
    padding: 14px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: none;
    background-color: #f7e9ef;
}

.login-form button {
    margin-top: 10px;
    padding: 12px;
    border-radius: 20px;
    border: none;
    background-color: #e94fa3;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #d63a8f;
}

.register {
    margin-top: 20px;
    font-size: 14px;
}

.register a {
    color: #e94fa3;
    text-decoration: none;
}

.login-form input {
    width: 100%;
    padding: 14px 45px 14px 14px;
    border-radius: 12px;
    border: none;
    background-color: #f7e9ee;
    font-size: 14px;
    box-sizing: border-box;
}

.password-container {
    position: relative;
    width: 100%;
}

.toggle-password {
    position: absolute;
    right: 14px;
    top: 33%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    opacity: 0.6;
}

.toggle-password:hover {
    opacity: 1;
}

.remember-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 12px 0 20px;
    font-size: 14px;
}

.remember-container input[type="checkbox"] {
    margin: 0;
}

